.LocationImg_child{
        background-image: url(./Photos/Cloud-background.png);
        background-size: 125%;
        background-repeat: no-repeat;
        background-position-x: -48px;
        background-position-y: -28px;
        filter: opacity(8%);
        width: 100%;
        height: 100%;
}