*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.Background{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.Left{
  background-color: #1E213A;
  width: 30%;
  display: grid;

}

.Right{
  background-color: #100E1D;
  width: 70%;
  display: grid;
}

.HomePageLeft{
  display: grid;
  grid-template-rows: 0.4fr 2fr 1fr 0.8fr 0.4fr 0.4fr;
}
.HomePageRight{
  margin: auto;
  width: 53vw;
  height: 87vh;
  /* display: grid;
  grid-template-rows: 1fr 4fr 0.5fr 4fr 3fr 1fr; */
}

/*      HomePage Left        */
.HomeSearch{border: 1px solid white;}
.LocationIMG{border: 1px solid white;}
.Temprature{border: 1px solid white;}
.WeatherDetails{border: 1px solid white;}
.Date{border: 1px solid white;}
.Location{border: 1px solid white;}

/*      HomePage Right        */
/* .ButtonConvertor{border: 1px solid white;} */
.DailyReport{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Heading{
  line-height: 60px;
}       
.TodayReportOne{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38%;
}
.TodayReportTwo{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

/* .Profile{border: 1px solid white;} */